[global]
github_api_token=not-a-real-token

[test_a]
git_repo_location=https://github.com/fake/fake_a
github_repo_name=fake/fake_a

[test_a:sub_test_a]
dev=http://dev.example.com/test_a/sub_test_a/
prod=http://example.com/test_a/sub_test_a/

[test_a:sub_test_b]
dev=http://dev.example.com/test_a/sub_test_b/
prod=http://example.com/test_a/sub_test_b/

[test_b]
git_repo_location=https://github.com/fake/fake_b
github_repo_name=fake/fake_b

[test_b:sub_test_a]
dev=http://dev.example.com/test_b/sub_test_a/
prod=http://example.com/test_b/sub_test_a/
